{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}


{% block header %}
    <div style="padding:60px">
        <h1>Topics</h1>
        <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>
    </div>
{% endblock header %}

{% block content %}
    <ul>
        {% for topic in topics %}
            <div class="card" style="width: 30rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h3>
                            <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                        </h3>
                    </li>
                </ul>
            </div>

        {% empty %}
            <li>No topics have been added yet.</li>
        {% endfor %}
    </ul>
{% endblock content %}